{% if messages %}
    <div class="messages">
    <ul>
    {% for message in messages%}
        <li class="{{message.tag}}">
            {{message}}
        </li>
    {% endfor %}
    </ul>
    </div>
{% endif %}
<label for="">Paste Details: </label>
<p>
    <div>
        <label for="">ID</label>
        <span>{{object.id}}</span>
    </div>
    <div>
        <label for="">Name</label>
        <span>{{object.name}}</span>
    </div>
    <div>
        <label for="">Text</label>
        <span>{{object.text}}</span>
    </div>
    <div>
        <label for="">Created</label>
        <span>{{object.created_on}}</span>
    </div>
    <div>
        <label for="">Modified</label>
        <span>{{object.updated_on}}</span>
    </div>
</p>
<h2> Actions </h2>
<ul>
    <li>
        <a href="{% url 'pastebin_paste_update' object.id %}">Edit this paste</a>
    </li>
    <li> <a href="{% url 'pastebin_paste_delete' object.id %}">Delete this paste</a>
    </li>

</ul>
<a href="{% url 'pastebin_paste_list' %}">view all</a>
